*{
    font-family: "Onest", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e1e4ea;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(188, 185, 185);
  border-radius: 8px;
  border: 2px solid #e1e4ea;
}

.page-loader {
  width: 60px;
  aspect-ratio: 1.154;
  --c: #0000 ,#1f8b48 2deg 59deg,#0000 61deg;
  --c1:conic-gradient(from 149deg at top   ,var(--c));
  --c2:conic-gradient(from -31deg at bottom,var(--c));
  background:
    var(--c1) top,
    var(--c1) bottom right,
    var(--c2) bottom,
    var(--c1) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: l37 1s infinite;
}
@keyframes l37 {
  80%,100%{background-position: bottom right,bottom left,bottom,top}
}